.operation-table {
    font-size: 14px;
    border: 0;
}

.operation-table > tbody > tr {
    border-right: 5px solid;
}

.operation-table tr.month-year-separator {
    border-right: none;
    text-align: left;
    font-weight: bold;
}

.operation-table tr.month-year-separator:hover {
    background-color: transparent;
}

.operation-table > thead > tr > td,
.operation-table > tbody > tr > td {
    vertical-align: middle;
}

.operation-table td.date {
    white-space: nowrap;
}

.operation-table td.date > * {
    vertical-align: middle;
}

.operation-table td > * {
    overflow-y: hidden;
}

.operation-table thead tr > th {
    border-bottom: 0;
}

.operation-table thead tr > th.modale-button {
    width: 1em;
}

.operation-table thead tr > th.date {
    width: calc(8ex + 20px);
}

.operation-table thead tr > th.type {
    width: 18%;
}

@media screen and (min-width: 1600px) {
    body.fluid .operation-table thead tr > th.type {
        width: 260px;
    }
}

.operation-table thead tr > th.amount {
    width: 10%;
}

.operation-table thead tr > th.category {
    width: 22%;
}

.operation-table .operation-assigned-to-budget {
    cursor: default !important;
    margin-left: 5px;
}

@media screen and (max-width: 768px) {
    /* Decrease the date column width */
    .operation-table thead tr > th.date {
        width: 8ex;
    }

    /*
    * WebKit hack: by setting a relative position to the cell, its width will not be
    * calculated according to its content, which is wrong if the content is too
    * wide.
    *
    * The height is smaller in xs-mode.
    */
    .operation-table td {
        position: relative;
        height: 41px;
    }

    /* Force the max height of the children to ensure a fixed height for the infinite list */
    .operation-table td > * {
        max-height: 19px;
        height: inherit;
    }
}

@media screen and (min-width: 768px) {
    .operation-table td {
        position: relative;
        height: 54px;
    }

    /* Force the max height of the children to ensure a fixed height for the infinite list */
    .operation-table td > * {
        max-height: 34px;
        overflow: hidden;
    }

    .operation-table td > div {
        position: relative;
        max-width: 100%;
    }

    /* The types, label and category inputs/selectors have a hidden border & padding by default,
     * which shifts the text by 12px. Adding an indent here aligns the column headers with their
     * content. On mobile there is only the text, no form elements. */
    .operation-table thead tr > th.type,
    .operation-table thead tr > th.label,
    .operation-table thead tr > th.category {
        text-indent: 12px;
    }
}

.operation-table td > .Select {
    overflow: visible;
    z-index: auto;
}

.operation-table thead th {
    border-top: none;
}

.operation-table td {
    vertical-align: middle;
}

.operation-table th,
.operation-table td {
    border-left: 0;
    border-right: 0;
}

.operation-table tr:nth-last-child(2) td {
    border: 0;
}

/* Due to bug a painting bug in Firefox (see https://bugzilla.mozilla.org/show_bug.cgi?id=1637225),
 * an unwanted border might appear on the separators when modifying the category of a row below.
 * This hack literally applies a "patch" (a rectangle with the color of the background) above the
 * border.
 */
.operation-table tr.month-year-separator td::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -3px;
    width: 6px;
    background-color: white;
}

.operation-table td.amount {
    font-weight: bold;
}

.operation-table > tbody > tr.income td.amount {
    color: #38BD13;
}

@media (max-width: 620px) {
    .operation-table th,
    .operation-table td {
        padding-left: 5px;
        padding-right: 5px;
    }
}

body.dark .operation-table th,
body.dark .operation-table td {
    border-color: #444444;
}

/* Due to bug a painting bug in Firefox (see https://bugzilla.mozilla.org/show_bug.cgi?id=1637225),
 * an unwanted border might appear on the separators when modifying the category of a row below.
 * This hack literally applies a "patch" (a rectangle with the color of the background) above the
 * border.
 */
body.dark .operation-table tr.month-year-separator td::after {
    background-color: #54575C;
}

/* End of hack */

body.dark .operation-table > tbody > tr.income td.amount {
    color: #00BFF3;
}

body.dark .operation-table td.modale-button > button {
    color: inherit;
}
